<a href="/admin/newproduct"><button>Adicionar produto</button></a>



<main class="pl-10 pt-5 pr-10">
    {{#each products}}
        <div class="pt-5"> {{!-- Bloco inteiro do produto --}} 
            <div> {{!-- Bloco da imagem --}}
                <img src="{{this.image}}" alt="{{this.nome}}">
            </div>
            <div> {{!-- bloco dos dados do produto --}} 
                <h1>{{nome}}</h1>
                <p>{{desc}}</p>
                <p>{{valor}}</p>
                <p>{{quant}}</p>
            </div>
            <div> {{!-- Bloco do botão edit  --}}
                <a href="/admin/products/edit/{{_id}}">
                <button>Edit</button>
                </a>
            </div>
            <div> {{!-- Bloco do botão delet  --}}
                <form action="/admin/products/delet" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <a href="/admin"><button>Delet</button></a>
            
                </form>
            </div>
        </div>


        {{else}}

        <h1>Nenhum produto encontrado</h1>


    {{/each}}
</main>


