<a href="/admin/newproduct"><button>Adicionar produto</button></a>


{{#each products}}

<h1>{{nome}}</h1>
<p>{{desc}}</p>
<p>{{valor}}</p>
<p>{{quant}}</p>


<a href="/admin/products/edit/{{_id}}"><button>Edit</button></a>

<form action="/admin/products/delet" method="POST">
    <input type="hidden" name="id" value="{{_id}}">
    <a href="/admin"><button>Delet</button></a>
    
</form>

{{else}}

<h1>Nenhum produto encontrado</h1>


{{/each}}