
<h1>Meu endereço de entrega</h1>
<a href="/user/profile/newaddress"><button>Novo End</button></a>
{{#if address}}
    {{#each address}}
        <div>
            <h2>{{end}}</h2>
            <h3>{{numero}}</h3>
            <h4>{{cidade}}{{estado}}</h4>
        </div>
        <input type="hidden" name="id" value="{{_id}}">
        <a href="/user/profile/editaddress/{{_id}}"><button>Abrir</button></a>
        <form action="/user/profile/deletaddress" method="POST">
            <button>Delet</button>
            <input type="hidden" name="id" value="{{_id}}">
        </form>
        <hr>
    {{/each}}

{{else}} 
    <h1>Nenhum endereço registrado</h1>
{{/if}}

