{{#if erros}}
    {{#each erros}}
        <div>{{texto}}</div>
    {{/each}}
{{/if}}

<main>
    <form action="/user/profile/editaddress" method="POST">
        <div>
            <label for="Endereço">Endereço:</label>
            <input type="text" name="end" value="{{address.end}}">
        </div>
        <div>
            <label for="Bairro">Bairro:</label>
            <input type="text" name="bairro" value="{{address.bairro}}">
        </div>
        <div>
            <label for="numero">Número:</label>W
            <input type="number" name="numero" value="{{address.numero}}">
        </div>
        <div>
            <label for="cep">CEP:</label>
            <input type="text" name="cep" value="{{address.cep}}">
        </div>
        <div>
            <label for="Cidade">Cidade:</label>
            <input type="text" name="cidade" value="{{address.cidade}}">
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input type="text" name="estado" value="{{address.estado}}">
        </div>
        <button>Salvar alterações</button>
    </form>
</main>