

<div class="flex flex-grow w-full ">

    <nav class="w-1/8 bg-black text-white p-4 max-md:w-2/8">
        <a href="/user/profile/address" class="block py-2">Endereços</a>
    </nav>


    <main class="w-7/8 bg-white px-20 flex justify-center items-center pb-50">
        <div class="flex flex-col px-20 items-center max-md:px-10 md:overflow-x-hidden">
            <img class="w-[100px] h-[100px] mx-20 mt-20 mb-10 xl:w-[200px] xl:h-[200px]" src="https://static.vecteezy.com/ti/vetor-gratis/p1/9734564-default-avatar-profile-icon-of-social-media-user-vetor.jpg" alt="">
            <div class="flex flex-col text-center">
                <h1>{{user.nome}}</h1>
                <h2>{{user.email}}</h2>
            </div>
        </div>
        <form action="/user/profile/edit" method="POST" class="flex flex-col justify-center items-center mt-30">
            <div class="grid grid-cols-1 gap-10 sm:grid-cols-2" >
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" value="{{user.nome}}" name="nome" class="shadow appearance-none border rounded w-full py-2 px-3 text-black mt-1 leading-tight focus:outline-1 font-mono font-normal focus:bg-slate-400 focus:shadow-xl/20">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="text" value="{{user.email}}" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-black mt-1 leading-tight focus:outline-1 font-mono font-normal focus:bg-slate-400 focus:shadow-xl/20">
                </div>
                <div>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" placeholder="Digite a sua nova senha" class="shadow appearance-none border rounded w-full py-2 px-3 text-black mt-1 leading-tight focus:outline-1 font-mono font-normal focus:bg-slate-400 focus:shadow-xl/20">
                </div>
                <div>
                    <label for="senha2">Confirme sua senha:</label>
                    <input type="password" name="senha2" placeholder="Confirme a sua nova senha" class="shadow appearance-none border rounded w-full py-2 px-3 text-black mt-1 leading-tight focus:outline-1 font-mono font-normal focus:bg-slate-400 focus:shadow-xl/20">
                </div>
            </div>
            <input type="hidden" name="id" value="{{user._id}}" >
            <div class="flex w-full justify-center mt-10 ">
                <button class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Salvar</button>
            </div>
        </form>
    </main>
</div>
