<main class="w-full flex flex-grow my-10 mx-25">
    
    <div class="grid grid-cols-5 gap-8">
        {{#each product}}
                <div class=" group grid grid-cols-1 p-5 w-[250px] h-[420px] bg-gray-500 rounded-md hover:scale-103 transform-gpu h:shadow-lg hover:shadow-black/60">
                    <div class="flex justify-center items-center w-full mx-auto h-[250px] text-center p-2">
                        <div class=" relative w-[220px] h-[200px] overflow-hidden mt-5">
                            <div id="carrossel" class="items-center justify-center transition-transform duration-500 w-full h-full">
                                {{#each images}}
                                    <img src="{{this}}" alt="" class="group-hover:opacity-65 w-full h-full group-hover:opacity-65">
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="w-full h-auto mt-5">
                        <h2 class="truncate box w-full text-center">{{this.title}}</h2>
                        <p>{{this.availabilityStatus}}</p>
                        <p>{{this.discountPercentage}}%</p>
                        <p>{{this.rating}}stars</p>
                        <h3>{{this.price}}</h3>
                    </div>
                </div>
        
        {{/each}}
    </div>



</main>





















{{!-- <nav>
Filtros dos produtos
</nav>
<main>
    <div>
        div de cada produto ( vai ser repetida)
    </div>

    <ul>
        <li>
            PAGINAÇÃO
        </li>
    </ul>
</main> --}}